* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Common */

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 0 16px;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 60px;
    min-width: 205px;
    border-radius: 999px;
    background: #2e80ce;
    border: 1px solid #2e80ce;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* Header */

.header {
    padding-top: 30px;
    min-height: 100vh;
    background: var(--header-bg);
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: inline-flex;
    position: relative;
    text-align: right;
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #ffffff;
}

.logo__text {
    margin-left: 0.6em;
    line-height: 1.6em;
}

.logo__brand {
    display: block;
    color: #fff;
    font-size: 1.8em;
    font-weight: 400;
}

.logo__brand--small {
    color: #fff;
    font-size: 1.2em;
    font-weight: 300;
}

.navbar__list {
    display: flex;
}

.header-action__login,
.navbar__link {
    padding: 4px 21px;
    color: #c9d2da;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.navbar__link:hover,
.navbar__link--active {
    color: #ffffff;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
    position: relative;
    left: -6px;
    top: -2px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ffffff;
}

.header-action__signup {
    min-width: 104px;
    line-height: 44px;
    margin-left: 7px;
    font-size: 1.6rem;
}
