* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Common */

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --line-height: 60px;
    display: inline-block;
    padding: 0 16px;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: calc(var(--line-height) - 2px);
    min-width: 205px;
    border-radius: 999px;
    background: #2e80ce;
    border: 1px solid #2e80ce;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section-heading {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
}

.section-desc {
    margin-top: 18px;
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
}

/* Header */

.header {
    padding-top: 30px;
    min-height: 100vh;
    background: var(--header-bg);
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: inline-flex;
    position: relative;
    text-align: right;
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #ffffff;
}

.logo__text {
    margin-left: 0.6em;
    line-height: 1.6em;
}

.logo__brand {
    display: block;
    color: #fff;
    font-size: 1.8em;
    font-weight: 400;
}

.logo__brand--small {
    color: #fff;
    font-size: 1.2em;
    font-weight: 300;
}

.navbar__list {
    display: flex;
}

.header-action__login,
.navbar__link {
    padding: 4px 21px;
    color: #c9d2da;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.navbar__link:hover,
.navbar__link--active {
    color: #ffffff;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
    position: relative;
    left: -6px;
    top: -2px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ffffff;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__signup {
    --line-height: 44px;
    min-width: 104px;
    margin-left: 7px;
    font-size: 1.6rem;
}

/* Hero */

.hero {
    margin-top: 76px;
    display: flex;
    align-items: center;
}

.hero__content {
    flex-shrink: 0;
    width: 44.18%;
}

.hero__media {
    flex-grow: 1;
}

.hero__heading {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14; /* 114.286% */
    letter-spacing: -1.4px;
}

.hero__desc {
    margin-top: 22px;
    width: 468px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__phone {
    margin-left: 38px;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__img:first-child {
    position: relative;
    margin-right: -6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
    border-radius: 0px 6px 6px 0px;
}

/* Service */

.service {
    padding: 170px 0;
}

.service__desc,
.service__heading {
    text-align: center;
}

.service__desc {
    width: 468px;
    margin-left: auto;
    margin-right: auto;
}

.service-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}

.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.service__list {
    margin-bottom: 55px;
}

.service-item {
    display: flex;
    padding: 22px;
    width: 470px;
    height: 128px;
    border-radius: 10px;
    background: #fff;
    transition: 0.25s;
}

.service-item:hover {
    position: relative;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
    color: #ffffff;
    background: #2e80ce;
}

.service-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #eff6fd;
    color: #10375c;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    transition: 0.25s;
}

.service-item__body {
    margin-left: 19px;
}

.service-item__heading {
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.27;
}

.service-item__desc {
    margin-top: 8px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

/* Work */

.work {
    padding: 100px 0;
    background: #f6fbff;
}

.work__desc {
    width: 468px;
}

.work__list {
    margin-top: 102px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.work-item {
    padding: 16px;
    border-radius: 4px;
    background: #eaf6ff;
    flex-shrink: 0;
    transition: 0.25s;
}

.work-item:hover {
    transform: translateY(-16px);
    background: #2e80ce;
}

.work-item__content {
    padding: 43px;
    border-radius: 4px;
    background: #fff;
}

.work-item__heading {
    margin-top: 18px;
    margin-bottom: 10px;
    color: #10375c;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38; /* 138.462% */
}

.work-item__desc {
    width: 254px;
    margin: 18px 0;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.work-item__more {
    color: #2e80ce;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

/* Feature */

.feature {
    margin-top: 85px;
    padding: 85px 0;
}

.feature__row {
    display: flex;
    align-items: center;
    column-gap: 130px;
}

.feature__media {
    width: 48.7%;
}

.feature__images {
    position: relative;
    padding: 0 58px 121px 0;
}

.feature__img {
    width: 512px;
    height: 370px;
    border-radius: 6px;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
    object-fit: cover;
}

.feature__img:last-child {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 332px;
    height: 370px;
    box-shadow: none;
}

.feature__btn {
    margin-top: 38px;
}
